body{
    padding:100px;
}
.submit-area{
    padding:50px;
    margin-top: 50px;
    border-radius:10px;
    box-shadow: 5px 5px 10px grey;
    
}
#transaction-area{
    display:none;
}
.status{
    margin: 0 20px;
    color:white;
    padding:20px;
    border-radius: 10px;
}
.deposit{
    background-color:slateblue ;
}
.withdraw{
    background-color: salmon;
}
.balance{
    background-color: orange;
}